.about-us {
  padding: 0 5px;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-around;
  }
}
.about-us__image {
  padding: 0 30xp;
}

.about-us__image-wraper {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}
.about-us__title {
  color: #2d2d2d;
  justify-content: space-around;
}
.about-us__icon-main {
  color: #ea9449;
}
.about-us__subtitle {
  color: #686868;
}
.about-us__description {
  color: #808080;
}
.about-us__feature-icon {
  fill: #7c782f;
}
.about-us__feature {
  color: #686868;
}
.about-us__text {
  color: #808080;
}
.about-us__nav {
  background-color: #7c782f;
  .about-us__button {
    color: #ffffff;
  }
}
.about-us__stat-value {
  color: #ea9449;
}
.about-us__stat-label {
  color: #808080;
}
