/* --natalka__tkhoriv-- */
.activity__gallery {
  display: flex;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
.activity__gallery-container {
  padding: 5.625rem 1.5rem 1.875rem;
}
@media (min-width: 600px) {
  .activity__gallery-container {
    padding: 120px 40px 30px;
  }
}
.activity__gallery-icon {
  color: var(--scroll-up-color);
  width: 3.125rem;
  height: 3.125rem;
  z-index: 1;
}
.activity__gallery-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  z-index: 1;
}
@media (min-width: 600px) {
  .activity__gallery-text {
    margin: 0;
  }
}
.activity__gallery-transparent-img {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: calc(100% - 48px);
  z-index: 0;
}
@media (min-width: 600px) {
  .activity__gallery-transparent-img {
    max-width: 500px;
    position: absolute;
    display: block;
    top: 120px;
    transform: translateX(-50%);
    height: auto;
    width: calc(100% - 48px);
  }
}
.activity__gallery-title {
  font-family: var(--alt-font);
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 2.125rem;
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 0;
  z-index: 1;
}
.activity__gallery-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.187rem;
  color: var(--text-color);
  margin-top: 25px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 0.9375rem;
  overflow-wrap: break-word;
}
.activity__gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  gap: 10px;
  margin-top: 45px;
}
@media (min-width: 600px) {
  .activity__gallery-images {
    gap: 30px;
  }
}
.activity__gallery-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
@media (min-width: 600px) {
  .activity__gallery-img img {
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .activity__gallery-img img:hover {
    opacity: 0.9;
  }
}
.activity__gallery-underline-container {
  margin-top: 50px;
}
.under__line {
  padding: 15px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
.modal.active {
  display: block;
}
.gallery__modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}
.gallery__modal-content {
  position: relative;
  z-index: 2;
  min-width: 90%;
  min-height: 90%;
  padding: 20px;
  overflow: hidden;
}