/* Kostiantyn Kobel */
.contacts__header_background-container {
  background-image: url('../img/header/contacts-header-background.jpg');
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}
