.contact-us {
     padding: 90px 0 30px;
     background-color: #f9f9f7;
     @media (min-width: 768px) {
          padding: 120px 0 30px;
     }
     .contact-us__main-container {
          max-width: 1200px;
          margin: auto;
          padding: 0 24px;
          @media (min-width: 768px) {
                    padding: 0 15px;
               }
          .contact-us__info-container {
               margin: 0 0 50px;
               display: grid;
               grid-template-columns: 1fr;
               @media (min-width: 768px) {
                    grid-template-columns: 1fr 0.4fr 0.6fr;
               }
               .contact-us__info {
                    background-image: url(../img/contacts/contacts-contact-us-back.png);
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    max-width: 550px;
                    .contact-us__decor {
                         color: var(--scroll-up-color);
                         margin-bottom: 20px;
                         @media (min-width: 768px) {
                              margin-bottom: 20px;
                         }
                         .contact-us__decor-icon {
                              width:50px;
                              height:50px;
                         }
                    }
                    .contact-us__title {
                         font-family: 'Work Sans', sans-serif;
                         color: var(--title-text-color);
                         font-size: 34px;
                         font-weight: 600;
                         @media (min-width: 768px) {
                              font-size: 46px;
                         }
                    }
                    .contact-us__text {
                         font-family: 'Inter', sans-serif;
                         color: var(--text-color);
                         font-size: 19px; 
                         font-weight: 550;   
                         line-height: 28.5px;
                         margin: 0 0 30px;      
                    }
                    .contact-us__item{
                         display: flex;
                         flex-direction: row;
                         padding: 7.5px 0;

                         .contact-us__icon-wrapper {
                              background-color: var(--alt-text-color);
                              width: 52px;
                              height: 52px;
                              border-radius: 50%;
                              flex-shrink: 0;
                              background-repeat: no-repeat;
                              background-position: center;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              @media (min-width: 768px) {
                                   width: 70px;
                                   height: 70px;
                              }
                              
                              .contact-us__icon {
                                   color: var(--scroll-up-color);
                                   width: 26px;
                                   height: auto;
                                   display: block;
                                   @media (min-width: 768px) {
                                        width: 40px;
                                        height: auto;
                                   }
                              }
                         }
                         .contact-us__details-list {
                              margin: 7.5px;
                              .contact-us__details-title {
                                   color: var(--accent-color);
                                   font-family: 'Inter', sans-serif;
                                   font-size: 12px;
                                   text-transform: uppercase;
                                   font-weight: 700;
                                   letter-spacing: 2.4px;
                                   line-height: 20.4px;
                                   margin:auto;
                              }
                              .contact-us__details {
                                   color: var(--primary-text-color);
                                   font-family: 'Inter', sans-serif;
                                   font-size: 17px;
                                   line-height: 25.5px;
                                   margin:auto;
                                   }
                              
                              .contact-us__details-link {
                                   text-decoration: none;
                                   color: inherit;
                              }
                         }
                    }
               }
          }
          .contact-us__form {
               display: flex;
               flex-direction: column;
               justify-items: center;
               margin-top: 60px;
               @media (min-width: 768px) {
                    grid-column-start: 3;
                    
               }
               
               .contact-us__input {
                    background-color: #f9f9f7;
                    border: none;
                    border-bottom: 2px solid rgba(128, 128, 128, 0.16);
                    outline: none;
                    margin: 12px 0 0;
                    padding: 15px 26px;
                    font-family: 'Inter', sans-serif;
                    font-size: 15px;
                    color: var(--text-color);
                    width: 100%;
                    &::placeholder {
                         color: var(--text-color);
                         opacity: 60%;
                         font-family: 'Inter', sans-serif;
                         font-size: 15px;
                         font-weight: 400;
                    }
                    &:focus {
                         outline: 2px solid #007bff;
                         border-radius: 2px;
                    }
                    
               }
               .contact-us__input-button {
                    background-color: var(--accent-color);
                    border: 0;
                    margin-top: 50px;
                    color: var(--alt-text-color);
                    font-family: 'Inter', sans-serif;
                    font-size: 12px;
                    font-weight: 700;
                    min-height: 45px;
                    width: 100%;
               }
               .contact-us__input-button:hover {
                    background-color: var(--scroll-up-color);
               }
          }
     }

     .contact-us__main-image-wraper {
          max-width: 1200px;
          margin: 0 auto;
          .main-image-wraper {
               display: block;
               max-width: 100%;
          }
     }
}
