.faq {
  padding: 30px 0 120px;
  background-image: url(../img/contacts/contacts-faq-back.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

    .faq__list {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;

        @media (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        }

        .faq__item {
            padding: 0px 15px;
            background-color: var(--alt-text-color);

            .faq__question {
                font-family: 'Work Sans', sans-serif;
                color: var(--title-text-color);
                font-size: 22px;

                &::after {
                content: '';
                display: block;
                width: 45px;
                height: 3px;
                background-color: var(--scroll-up-color);
                margin: 15px 0;
                }
            }

            .faq__answer {
                font-family: 'Inter', sans-serif;
                color: var(--primary-text-color);
                font-size: 17px;
            }
        }
    }
}
