/* Kostiantyn Kobel */
.habitations__header-background-container {
  background-image: url('../img/header/habitations-header-background.jpg');
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}
