/* Marjan Batkivskiy */
.experience {
    min-width: 320px;
    padding: 0px 25px 15px 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .experience__description {
        display: grid;

        @media (min-width: 720px) {
            grid-template-columns: 1fr 1fr;
        }

        .experience__description--container {
            background-image: url(
            "./../img/experience-nature/Experiense_bacground_lining.jpg" 
            );
            background: rgba(249, 249, 247, 0.96);
            margin-top: 50px;
            padding: 0px 50px;

            .experience__description-title {
                font-size: 1.4rem;
                padding-top: 75px;
                font-family: "Work Sans", sans-serif;
                font-style: normal;
                color: var(--title-text-color);
            }

            .experience__description-text {
                padding-top: 25px;
                padding-bottom: 40px;
                color: var(--primary-text-color);
            }

            .experience__description-button {
                display: inline-block;
                background-color: var(--accent-color);
                margin-bottom: 25px;
                border: 1px solid var(--accent-color);
                cursor: pointer;
                padding: 15px 35px;

                .experience__description-button--text {
                    color: var(--alt-text-color);
                    font-size: 0.8rem;
                    font-weight: 700;
                }
            }
        }
    }

    .experience__baner {
        background-image: url(./../img/experience-nature/experience-bacground.jpg);
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0px;
      
        .experience__baner--text {
            font-family: var(--alt-font);
            font-size: 2.8rem;
            color: var(--alt-text-color);
            font-weight: 700;
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }        
}