/* Marjan Batkivskiy */
.experience {
    min-width: 380px;
    padding: 0px 25px 15px 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.experience__description {
    /* display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between; */
    /* gap: 30px; */
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.experience__description-img--container {
    /* padding: 0px 15px; */
}

.experience__description--container {
    background-image: url(
       "./../img/experience-nature/Experiense_bacground_lining.jpg" 
    );
    padding: 40px 105px;

}

.experience__description-title {
    font-size: 24px;
    color: var(--primary-title-color);
}