/* Kostiantyn Kobel */
.index__header_background-container {
  background-image: url('../img/header/index-header-background.png');
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}
