/* Marjan Batkivskiy */
.customer {
  .customer__baner--video {
    min-width: 320px;
  }
  .customer-testimonials {
    background-image: url('./../img/experience-nature/experiense_background_lining.jpg'),
      linear-gradient(rgba(250, 249, 245, 0.93), rgba(250, 249, 245, 0.93));
    background-blend-mode: lighten;
    background-repeat: repeat;
    .customer-rewiews__list {
      list-style: none;
      .customer-rewiews__item {
        text-align: center;
        margin: 0 50px;
        padding: 40px 0 70px 0;
        .customer-rewiews__stars {
          fill: var(--accent-color);
        }
        .customer-rewiews__text {
          color: var(--primary-text-color);
          padding: 20px 0;
        }
        .customer-rewiews__person {
          color: var(--title-text-color);
          font-weight: 700;
        }
      }
    }
  }
}
