/* Nazar lesiv */
.main-title {
    display: flex;
    justify-content: center;
    color: #2d2d2d;
    font-family: "Work Sans", sans-serif;
    font-size: 34px;
}
.title-camp-infrastructure{
    padding: 0px 20px;
}
.list__media-wrap{
    display: flex;
    gap: 20px;
}
.infrastructure-icon{
    width: 50px;
    
}
.infrastructure-description{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    color: grey;
}
.contact-text{
    font-family: "Inter", sans-serif;
    color: #808080;
    font-size: 12px;
    letter-spacing: 2px;


}
.contact-heading{
    font-family: "Work Sans", sans-serif;
    font-size: 22px;
}
.contact-email-text{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    color: #EA9449;
}