/* Kostiantyn Kobel */
.single-habitation__header-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 16px;
  color: var(--alt-text-color);
  .header__hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    padding: 90px 0;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      gap: 8rem;
    }
    .header__hero-descr {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0 16px;
      @media (min-width: 768px) {
        align-items: center;
        text-align: center;
        gap: 32px;
      }
      .header__hero-title {
        font-size: 2.1rem;
        padding: 8px 0;
        line-height: 1.2;
        font-weight: 700;
        width: 100%;
        @media (min-width: 768px) {
          font-size: 2.5rem;
        }
        @media (min-width: 1024px) {
          font-size: 3rem;
        }
      }
      .header__hero-description {
        font-size: 0.875rem;
        font-weight: 600;
        color: var(--alt-text-color);
        padding: 13px 24px;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        @media (min-width: 1024px) {
          font-size: 1.125rem;
        }
      }
    }
    .header__hero-subt {
      flex: 1;
      padding: 0 16px;
      text-align: left;
      .header__hero-subtitle {
        color: var(--global-description-text-color);
        font-size: 1.125rem;
        line-height: 1.8rem;
        @media (min-width: 768px) {
          width: 76%;
          margin-left: auto;
        }
      }
    }
  }
}
